@charset "utf-8";
/*
*--------------------------------------------*
|                   Kendo Window             |
*--------------------------------------------*
*/
/*Kendo Window*/
.k-window * { box-sizing: border-box;}
.k-window{border:1px solid #e8e8e8;border-radius: 10px; background: #FCFCFC; box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08);}
.k-window-title { font-size: 20px; font-weight: 500; color: #262527; line-height: 33px; letter-spacing: -0.02em;}
.k-window .k-window-titlebar{ padding: 30px 30px 20px; border-bottom: 0; border-radius: 10px; background: #ffffff; text-align:left;color:#262527;}
.k-window .k-window-titlebar .k-window-actions{ position: absolute; top: 30px; right: 30px;}
.k-window .k-window-titlebar .k-window-action a.k-link{width:33px;height:33px;background:url("../images/runway/admin/pop_close.png") no-repeat center center;border:none;border-radius:0;display:block}
.k-window .k-window-titlebar .k-window-action{ width:33px;height:33px; padding: 0;}
.k-window .k-window-titlebar .k-window-action:hover { background: transparent !important;}
.k-window .k-window-titlebar .k-window-action .k-icon { display: block; width: 33px; height: 33px; background:url("../images/runway/admin/pop_close.png") no-repeat center center;}
.k-window .k-window-titlebar .k-window-action .k-icon:before { content: '';}
.k-window .k-window-titlebar .k-window-actions a.k-link:hover{border:none;box-shadow:none}
.k-window .k-window-titlebar .k-window-actions a.k-state-hover{border:none;box-shadow:none}
.k-window .k-window-content{ width:100%;display:flex; flex-direction: column; justify-content: space-between; padding: 0; background: #fff; border-radius: 10px;}
.k-window .k-window-content.loading-window { border-radius: 10px;}
.k-window .popup-content { overflow-x: hidden; height: 100%; padding: 0 30px 20px; /*background: #ffffff;*/}
.k-window .popup-foot { display: flex; justify-content: center; gap: 8px; position: relative; left: 0; right: 0; bottom: 0; padding: 20px 0; border-top: 1px solid #dbdbdb; border-radius: 0 0 10px 10px; background: #fafafa; box-sizing: border-box;}
.k-window .popup-foot.flex-between { justify-content: space-between;}
.k-window .popup-btn { min-width:  auto;}
.k-window .k-grid .k-grid-header .k-grid-header-wrap table th { padding: 12px 15px; border-top: 0; font-size: 13px; font-weight: 500;}
.k-grid2 .k-grid-header .k-grid-header-wrap { border-top: 0; border-bottom: 0;}
.popup-content .table_list .k-grid2 tr { border-top: 0;}
.popup-content .k-grid-toolbar .k-button { padding: 9px 16px;}
.popup-content .k-grid-toolbar .k-button:hover { border: 1px solid var(--primary-600);}
.popup-btn { display: inline-block; height: auto; padding: 13px 24px; border: 1px solid var(--primary-400); border-radius: 4px; background: var(--primary-400); font-size: 13px; font-weight: 500; color: #FFFFFF; cursor: pointer;}
.popup-btn:hover { color: #ffffff;}
.popup-btn.btn-default { min-width: auto; border: 1px solid #E8E8E8; background: #FFFFFF; font-size: 13px; font-weight: 500; color: #404040;}
.popup-btn.btn-default:hover,
.popup-btn.btn-default:active { border: 1px solid #D1D1D1; background: #FFFFFF; font-weight: bold; color: var(--primary-600);}
.popup-content .cont-tip-box .icon { vertical-align: middle;}

.k-window .k-window-content textarea {width:100%; height: 150px; padding:20px;text-align:left; border: 1px solid #e1e1e1; font-size:14px; color:#343434;resize:none;box-sizing:border-box}
.k-window .k-window-content textarea { padding: 5px 10px; border: 1px solid #dbdbdb; font-family: 'Noto Sans KR', sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box;}
.k-window .k-editor-textarea textarea { overflow: auto; height: 100%;}